*{
    margin: 3px 4px 2px 3px
}
        /* INDEX BIG ABAIXO*/



.big-hr{
    border: solid 2px purple;
}


.body{
    background-color: bisque;

}


.fild{
    border: 5px solid purple;
    border-radius: 2cqi;
    background-color: rgba(128, 128, 128, 0.74);
}



.hr{
    border: 2px solid purple;
}



h1.big-h1{
    text-shadow: 
    1px 1px 1px rgb(107, 5, 107);
    color: black;
    text-align: center;
}



.borda-completa{
    border: solid 5px purple;
    border-radius: 20px;
}


fieldset.big-fieldset{
    border: solid 5px purple;
    border-radius: 20px;
}



ul.menu { /*fundo das opções do menu

    background-color: rgba(199, 199, 199, 0.397); /*cor de fundo*/
    width: auto; /*width = largura. heigth = altura */
    font-size: 20px;
    padding: 10px; /*preenchimento interno. Distancia entre o elemento e outro*/
    text-align: center;
    border-radius: 22rch;
}



/*deixa os itens do menu um abaixo do outro*/
ul.menu li{
    /* display: inline; mostra na mesma linha */
    list-style-type: none;
}



.big-button:hover {
    font-size: 0.9rem;
    background-color: rgba(127, 127, 138, 0.801);
    transition: background-color 0.3s ease;
}




/* aprencia dos links */
ul.menu li a{
    color: purple;
    text-shadow:
   1px 1px 0 black;
    text-decoration: none;      /*remove o sublinhado (underline) de linha*/
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    transition: background-color 0.4s ease, transform 0.3s ease;
    border-radius: 20px;
} 



 /* efeito quando o mouse passa por clima */
 ul.menu li a:hover{
    background-color: rgba(131, 131, 131, 0.74);
}




 #proz{
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-right: 800px;
}




 #proz:hover{
    transform: scale(1.1);
}



.test{
    display: flex;
    align-items: center;

}




.bo{
    list-style-type: none;
    text-shadow: 
    1px 2px 0 rgb(194, 194, 194);
}





.test img{
    margin-right: 15px;
}




 #planeta:hover{
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
    border-radius: 50%;
    object-fit: cover;
}




 #planeta:hover{
    transform: scale(1.1);
}




p.p{
    text-align: center;
}



 /* CADASTRO ALUNO */

body.body-Aluno{
    background-color: rgba(168, 168, 168, 0.582);
}


.h2-aluno{
    color: darkorchid;
    text-shadow: 
    1px 1px 1px black;
    text-align: center;
}



.h4-aluno{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 
    1px 1px 0 white;

}


.fieldset-aluno{
    border: solid 5px rgba(107, 107, 107, 0.719);
    border-radius: 20px;
    background-color:rgba(161, 161, 161, 0.644);
    width: 30%;
    margin: 0 auto;
}



.fieldset-cadastro{
    text-align: center;
    width: 30%;
    margin: 0 auto;
    border: solid 5px gray;
    border-radius: 15px;
}




.legend-aluno{
    color: purple;
    text-shadow: 1px 0px 0 black;
}





.input-nome-aluno{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
}
.input-nome-aluno:hover{
    transform: scale(1.1);
}






.label-nome-aluno{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}





.label-data{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}





.label-sexo{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}




.label-masculino{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}




.label-feminino{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}



.outro{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}




.label-cpf{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}




.label-endereço{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}



.label-bairro{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}




.label-cidade{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}





.label-complemento{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}




.label-telefone{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}




.input-sexo{
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
}
.input-sexo:hover{
    transform: scale(1.3);
}



.input-radio-feminino{
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
}
.input-radio-feminino:hover{
    transform: scale(1.3);
}





.radio-opções{
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
}
.radio-opções:hover{
    transform: scale(1.3);
}



 #po:hover{
    transform: scale(1.1);
}




.input-data{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.input-data:hover{
    transform: scale(1.1);
}




.input-cpf{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
}
.input-cpf:hover{
    transform: scale(1.1);
}



.input-endereço{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
}
.input-endereço:hover{
    transform: scale(1.1);
}




.select-bairro{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.select-bairro:hover{
    transform: scale(1.1);
}



.select-cidade{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.select-cidade:hover{
    transform: scale(1.1);
}




.input-complemento{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
}
.input-complemento:hover{
    transform: scale(1.1);
}




.input-telefone{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
}
.input-telefone:hover{
    transform: scale(1.1);
}




.limpar{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}
.limpar:hover{
    transform: scale(1.1);
}




.voltar{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
    text-decoration: none;
}

.voltar:hover{
    transform: scale(1.1);
}





.enviar{
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 5px; /*espaço interno para facilitar o clique*/ 
    border: solid rgba(0, 0, 0, 0.603);
    transition: transform 0.3s ease;
    object-fit: cover;
    display: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 0, 80);
}
.enviar:hover{
    transform: scale(1.1);
}





p.p-aluno{
    text-align: center;
}




.p-footer{
    text-align: center;
}




        /* CADASTRO PROFESSOR */
.body-professor{
    background-color: gainsboro;
}

.fieldset-professor{
    text-align: center;
}


.h2-professor{
    color: rgba(80, 0, 104, 0.815);
    text-shadow: 1px 1px 0 rgba(119, 118, 119, 0.801);
    text-align: center;
}

.strong-professor{
    text-align: center;
    display: block;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 0 white;
}

.legend-professor{
    text-align: center;
    color: purple;
    text-shadow: 0 1px 1px black;
}

.label-nome-professor{
    color: black;
    text-align: center;
    display: block;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.input-professor{
    background-color:  rgba(179, 179, 179, 0.568);
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 5px rgb(88, 88, 88);
}
.input-professor:hover{
    transform: scale(1.1);
}


.label-data-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}


.input-data-professor{
    background-color:  rgba(179, 179, 179, 0.568);
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 4px rgb(88, 88, 88);
    font-family: 'Courier New', Courier, monospace;
}
.input-data-professor:hover{
    transform: scale(1.1);
}


.label-sexo-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}


.input-radio-masculino-professor{
    background-color:  rgba(179, 179, 179, 0.568);
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 5px rgb(88, 88, 88);

}

.input-radio-masculino-professor:hover{
    transform: scale(1.5);
}

.label-masculino-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.input-radio-feminino-professor{
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.input-radio-feminino-professor:hover{
    transform: scale(1.5);

}

.label-feminino-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.input-radio-outro-professor{
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
}
.input-radio-outro-professor:hover{
    transform: scale(1.5);

}


.label-outro-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}


.label-cpf-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.input-cpf-professor{
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 4px rgb(88, 88, 88);

}
.input-cpf-professor:hover{
    transform: scale(1.1);
}

.label-formação-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
    display: block;
}

.input-formação-professor{
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 5px rgb(88, 88, 88);

}
.input-formação-professor:hover{
    transform: scale(1.1);
}

.label-cep-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.input-cep-professor{
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 5px rgb(88, 88, 88);

}

.input-cep-professor:hover{
    transform: scale(1.1);
}

.label-endereço-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
    display: block;
}

.input-endereço-professor{
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 4px rgb(88, 88, 88);

}

.input-endereço-professor:hover{
    transform: scale(1.1);
}

.label-bairro-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.select-bairro-professor{
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 4px rgb(88, 88, 88);

}
.select-bairro-professor:hover{
    transform: scale(1.1);
}
.label-cidade-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.select-cidade-professor{
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 4px rgb(88, 88, 88);

}
.select-cidade-professor:hover{
    transform: scale(1.1);
}


.label-complemento-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
}


.input-complemento-professor{
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 5px rgb(88, 88, 88);

}

.input-complemento-professor:hover{
    transform: scale(1.1);
}


.label-telefone-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.input-telefone-professor{
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 4px rgb(88, 88, 88);

}

.input-telefone-professor:hover{
    transform: scale(1.1);
}


.input-limpar-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 10px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 5px rgb(88, 88, 88);

}

.input-limpar-professor:hover{
    transform: scale(1.1);
}


.input-enviar-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 10px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 5px rgb(88, 88, 88);

}

.input-enviar-professor:hover{
    transform: scale(1.1);
}

.input-voltar-professor{
    color: black;
    text-shadow: 1px 1px 0 rgba(122, 2, 122, 0.678);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: rgba(179, 179, 179, 0.568) ;
    border-radius: 10px;
    transition: transform 0.3s ease;
    object-fit: cover;
    border: solid 5px rgb(88, 88, 88);
    text-decoration: none;
}
.input-voltar-professor:hover{
    transform: scale(1.1);
}


.fieldset-prof{
    border: solid 5px gray;
    border-radius: 20px;
    background-color: rgba(169, 169, 169, 0.925);
    margin: 0 auto;
    width: 30%;
}


.fieldset-professor{
    border: solid 5px gray;
    border-radius: 20px;
    background-color:gainsboro ;
    margin: 0 auto;
    width: 30%;
}


.p-professor{
    text-align: center;
}



        /* MATRICULA */

body.matricula-body{
    background-color: darkgray ;
}

.h2-matricula{
    text-align: center;
    color: darkmagenta;
    text-shadow: 1px 1px 0 rgb(199, 199, 199);
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.strong-matricula{
    text-align: center;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 1px 0 purple;
}

.legend-matricula{
    text-align: center;
    color: darkmagenta;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}


.field-matricula2{
    text-align: center;
    border: solid 5px purple;
    border-radius: 20px;
    margin: 0 auto;
    width: 30%;
    background-color: rgba(90, 90, 90, 0.295)
}


.field-matricula{
    text-align: center;
    border: solid 5px purple;
    border-radius: 20px;
    margin: 0 auto;
    width: 30%;
}


.label-nome-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px 1px black;
}

.input-nome-matricula{
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 5px rgba(83, 83, 83, 0.712);
    transition: transform 0.3s ease;
    object-fit: cover;
}

.input-nome-matricula:hover{
    transform: scale(1.1);

}


.label-e-mail-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px 1px black;
}

.input-e-mail-matricula{
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 5px rgba(83, 83, 83, 0.712);
    transition: transform 0.3s ease;
    object-fit: cover;
}
.input-e-mail-matricula:hover{
    transform: scale(1.1);

}

.label-data-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px 1px black;
}

.input-data-matricula{
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 4px rgba(83, 83, 83, 0.712);
    transition: transform 0.3s ease;
    object-fit: cover;
}
.input-data-matricula:hover{
    transform: scale(1.1);

}

.label-telefone-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px 1px black;
}

.input-telefone-matricula{
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 4px rgba(83, 83, 83, 0.712);
    transition: transform 0.3s ease;
    object-fit: cover;
}

.input-telefone-matricula:hover{
    transform: scale(1.1);

}

.label-telefone-responsavel-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px 1px black;
}


.input-telefone-responsavel-matricula{
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 4px rgba(83, 83, 83, 0.712);
}
.input-telefone-responsavel-matricula:hover{
    transform: scale(1.1);

}



.label-cpf-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px 1px black;
}

.input-cpf-matricula{
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 4px rgba(83, 83, 83, 0.712);
    transition: transform 0.3s ease;
    object-fit: cover;
}
.input-cpf-matricula:hover{
    transform: scale(1.1);

}


.label-cep-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px 1px black;
}


.input-cep-matricula{
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 4px rgba(83, 83, 83, 0.712);
    transition: transform 0.3s ease;
    object-fit: cover;
}
.input-cep-matricula:hover{
    transform: scale(1.1);

}


.label-complemento-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px 1px black;
}

.input-complemento-matricula{
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 5px rgba(83, 83, 83, 0.712);
    transition: transform 0.3s ease;
    object-fit: cover;
}
.input-complemento-matricula:hover{
    transform: scale(1.1);

}


.limpar-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-shadow: 1px 1px 1px black;
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 4px rgba(83, 83, 83, 0.712);
    transition: transform 0.3s ease;
    object-fit: cover;
}
.limpar-matricula:hover{
    transform: scale(1.1);

}


.enviar-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-shadow: 1px 1px 1px black;
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 4px rgba(83, 83, 83, 0.712);
    transition: transform 0.3s ease;
    object-fit: cover;
}

.enviar-matricula:hover{
    transform: scale(1.1);

}


.voltar-matricula{
    color: rgb(78, 27, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-shadow: 1px 1px 1px black;
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    border: solid 4px rgba(83, 83, 83, 0.712);
    text-decoration: none;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.voltar-matricula:hover{
    transform: scale(1.1);

}

.p-matricula{
    text-align: center;
    display: block;
}

.footer-matricula{
    text-align: center;
    display: block;
}





        /* CADSTRO CURSO */


.curso-body{
    background-color: rgba(69, 0, 133, 0.445);
}


.fieldset-h2-curso{
    border: solid 5px purple;
    border-radius: 20px;
    background-color: rgba(65, 0, 126, 0.253);
    margin: 0 auto;
    width: 20%;
}
.curso-h2{
    color: rgba(177, 177, 177, 0.904);
    text-align: center;
    display: block;
    text-shadow: 1px 2px 2px black;
    font-size: xx-large;
    
}

.p-curso{
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px wheat;
}


.fieldset-curso{
    text-align: center;
    border: solid 5px rgba(97, 2, 97, 0.726);
    border-radius: 20px;
    margin: 0 auto;
    width: 30%;
}

.legend-curso{
    color: rgb(212, 212, 212);
    text-align: center;
    display: block;
    text-shadow: 1px 2px 2px black;
    font-size: larger;
}


.label-nome-curso{
    color: rgb(158, 158, 158);
    text-shadow: 1px 1px 1px black;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-nome-curso{
    background-color: rgb(187, 150, 221);
    border: solid 4px rgba(128, 0, 128, 0.747);
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
}
.input-nome-curso:hover{
    transform: scale(1.1);
}


.label-instituição-curso{
    color: rgb(158, 158, 158);
    text-shadow: 1px 1px 1px black;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.input-instituição-curso{
    background-color: rgb(187, 150, 221);
    border: solid 4px rgba(128, 0, 128, 0.747);
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.input-instituição-curso:hover{
    transform: scale(1.1);
}

.label-data-curso{
    color: rgb(158, 158, 158);
    text-shadow: 1px 1px 1px black;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-data-curso{
    background-color: rgb(187, 150, 221);
    border: solid 4px rgba(128, 0, 128, 0.747);
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
}


.input-data-curso:hover{
    transform: scale(1.1);

}

.fieldset-oq-aprendeu{
    text-align: center;
    border: solid 5px rgba(97, 2, 97, 0.726);
    border-radius: 20px;
}

.label-objetivo{
    color: rgb(3, 3, 3);
    text-shadow: 0 1px 1px rgb(90, 0, 90);
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-objetivo{
    background-color: rgb(187, 150, 221);
    border: solid 4px rgba(128, 0, 128, 0.747);
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
}
.input-objetivo:hover{
    transform: scale(1.1);
}

.limpar-curso{
    background-color: rgb(187, 150, 221);
    border: solid 4px rgba(128, 0, 128, 0.747);
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    color: rgb(3, 3, 3);
    text-shadow: 0 1px 1px rgb(90, 0, 90);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.limpar-curso:hover{
    transform: scale(1.1);
}

.enviar-curso{
    background-color: rgb(187, 150, 221);
    border: solid 4px rgba(128, 0, 128, 0.747);
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    color: rgb(3, 3, 3);
    text-shadow: 0 1px 1px rgb(90, 0, 90);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.enviar-curso:hover{
    transform: scale(1.1);
}

.voltar-curso{
    background-color: rgb(187, 150, 221);
    border: solid 4px rgba(128, 0, 128, 0.747);
    border-radius: 20px;
    transition: transform 0.3s ease;
    object-fit: cover;
    color: rgb(3, 3, 3);
    text-shadow: 0 1px 1px rgb(90, 0, 90);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
.voltar-curso:hover{
    transform: scale(1.1);
}

.footer-curso{
    text-align: center;
}

.strong-curso{
    text-align: center;
    display: block;
}